{% extends "base-manager.htm" %}
{% load i18n %}
{% load static %}

{% block title %} {{ block.super }} {{ plugin.name }} {% endblock title %}

{% block main_content %}

<div class="content-panel" style="max-width: 80em !important;">
	<div class="flex plugin-main">
		<div class="scroll-y">
			<div id="page-content" style="width: 100% !important;">

{% if dataset.saved %}

<div class="table-responsive" style="max-width: 90%;">
<table class="table">
	<tr>
		<td><strong>Title:</strong>&nbsp;</td>
		<td>{{ dataset.search_label }}</td>
	</tr>
	<tr>
		<td><strong>URL:</strong>&nbsp;</td>
		<td><a href="{{ dataset.search_url }}">{{ dataset.search_url|truncatechars:80 }}</a></td>
	</tr>
	<tr>
		<td><strong>Results:</strong>&nbsp;</td>
		<td>{{ dataset.search_results_count }}</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<button class="btn btn-primary">Upload to Zenodo</button>
			<button class="btn btn-primary">Pin to IPFS</button>
		</td>
	</tr>
</table>
</div>

<div class="table-responsive" style="max-width: 90%;">
<table class="table table-condensed">

	<tr>
{% for header in dataset.table_headers %}
		<th><nobr>{{ header|truncatechars:20 }}</nobr></th>
{% endfor %}
	</tr>
{% for row in dataset.table_data %}
	<tr>
{% for item in row %}
		<td><nobr>{{ item|truncatechars:20 }}</nobr></td>
{% endfor %}
	</tr>
{% endfor %}

</table>
</div>

{% else %}

<form id="search_name_form" action="" method="POST" style="width: 100%;">

<p>Enter a descriptive name for the dataset returned by this search.</p>

<label>Dataset name: <input type="text" name="datasetname" class="form-control"/></label>

<input type="submit" class="btn btn-success" value="Save">{% csrf_token %}
<a class="btn btn-danger" href="{{ dataset.search_url }}">Cancel</a>

</form>

{% endif %}

			</div>
		</div>
	</div>
</div>

{% endblock main_content %}

{% block pre_require_js %}
{{block.super}}
    <div
        id="pluginData"
        style="display: none;"
        pluginData='{{ plugin_json }}'
    ></div>
{% endblock pre_require_js %}

