{% extends "base-manager.htm" %}
{% load i18n %}
{% load static %}

{% block title %} {{ block.super }} {{ plugin.name }} {% endblock title %}

{% block main_content %}

<div class="content-panel">
	<div class="flex plugin-main">
		<div class="scroll-y">
			<div id="page-content">

{% if dataset.saved %}

<table>
	<tr>
		<th>Title:&nbsp;</th>
		<td>{{ dataset.search_label }}</td>
	</tr>
	<tr>
		<th>URL:&nbsp;</th>
		<td>{{ dataset.search_url }}</td>
	</tr>
	<tr>
		<th>Results:&nbsp;</th>
		<td><textarea>{{ dataset.search_results }}</textarea></td>
	</tr>
</table>

{% else %}

<form id="search_name_form" action="" method="POST" style="width: 100%;">

<p>Enter a descriptive name for the dataset returned by this search.</p>

<label>Dataset name: <input type="text" name="datasetname" class="form-control"/></label>

<input type="submit" class="btn btn-success" value="Save">{% csrf_token %}
<a class="btn btn-danger" href="{{ dataset.search_url }}">Cancel</a>

</form>

{% endif %}

			</div>
		</div>
	</div>
</div>

{% endblock main_content %}

{% block pre_require_js %}
{{block.super}}
    <div
        id="pluginData"
        style="display: none;"
        pluginData='{{ plugin_json }}'
    ></div>
{% endblock pre_require_js %}

